/* Reset */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  font-family: "Poppins";
  box-sizing: border-box;
  color: #333333;
  letter-spacing: 1px;
}

body {
  margin: 0;
}


/* Common */
.image-container img {
  width: 100%;
  height: auto;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/* header */
.header {
  width: 100%;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

h2 {
  font-size: 1.2rem;
  margin: 0;
  letter-spacing: 0.5px;
}

.header p {
  margin: 0;
}

.far.fa-moon {
  vertical-align: middle;
}

.change-dark-mode {
  background-color: black;
  color: white;
}

.dark-mode__button {
  padding: 3px 5px;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 3px;
  transition: 0.2s;
  cursor: pointer;
}

.dark-mode__button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* search section */
.search-container {
  flex-direction: column;
  display: flex;
  align-content: space-around;
  padding: 0 30px;
  margin-top: 20px;
  gap: 20px;
}

.search-country {
  display: flex;
  justify-content: center;
  position: relative;
  outline: none;
  width: 400px;
  height: 40px;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 0.8rem;
}

.search-country__input {
  justify-content: center;
  width: 300px;
  border: none;
  outline: none;
}

.fas.fa-search {
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 13px;
  left: 17px;
}

input:focus::placeholder {
  color: transparent;
}

.filter-region {
  position: relative;
  outline: none;
  width: 200px;
  height: 40px;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.regions {
  position: absolute;
  top: 11px;
  left: 40px;
  border: none;
  outline: none;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}


/* countries */
.country-card {
  text-align: center;
  background-color: #fff;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(139, 122, 122, 0.5);
}

.country-card .country-name {
  margin: 0;
  padding: 10px;
}

.country-container {
  /* background-color: #eeeeee; */
}

/* modal */
/* desktop modal */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 99; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  /* max-width: 600px; */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
   /* Enable scroll if needed */
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.8); /* Black w/ opacity */
}

#modal-content{
  display: block;
  text-align: center;
  width: 87%;
  height: 87%;
}

#modal-image {
  display: block;
  margin: auto;
  width: 80%;
  height: 80%;
}

.modal-info {
  font-size: 1.5rem;
}

/* description page */
#modal-image {
  width: 300px;
  height: 200px;
  display: inline-block;
  border-radius: 3px;
}