@media (min-width: 40rem) {
    
    body {
        
    }

    /* countries */
    .country-container {
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
    }

    .country-card {
      width: 22%;
    }

    /* modal */

    #modal-column-first{
      margin: 3rem;
      margin-top: 0;
      }
    #modal-column-second {
      margin-top: 5.2rem;
			margin-left: 6rem;
    }

}