/* Reset */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  font-family: "Poppins";
  box-sizing: border-box;
  color: #333333;
  letter-spacing: 1px;
}

body {
  margin: 0;
}


/* Common */
.image-container img {
  width: 100%;
  height: auto;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/* header */
.header {
  width: 100%;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

h2 {
  font-size: 1.2rem;
  margin: 0;
  letter-spacing: 0.5px;
}

.header p {
  margin: 0;
}

.far.fa-moon {
  vertical-align: middle;
}

.change-dark-mode {
  background-color: #222831;
  color: white;
}

.change-dark-mode-light {
  background-color: #2C394B;
  color: white;
}

.change-dark-mode-light::-webkit-input-placeholder {
  background-color: #2C394B;
  color: white;
}


.dark-mode__button {
  padding: 3px 5px;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 3px;
  transition: 0.2s;
  cursor: pointer;
}

.dark-mode__button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* search section */
.search-container {
  flex-direction: column;
  display: flex;
  align-content: space-around;
  padding: 0 30px;
  margin-top: 20px;
  gap: 20px;
}

.search-country {
  display: flex;
  justify-content: center;
  position: relative;
  outline: none;
  width: 400px;
  height: 40px;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 0.8rem;
}

.search-country__input {
  justify-content: center;
  width: 300px;
  border: none;
  outline: none;
}

.fas.fa-search {
  /* color: rgba(0, 0, 0, 0.3); */
  position: absolute;
  top: 13px;
  left: 17px;
}

input:focus::placeholder {
  color: transparent;
}

.filter-region {
  position: relative;
  outline: none;
  width: 200px;
  height: 40px;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.regions {
  position: absolute;
  top: 11px;
  left: 40px;
  border: none;
  outline: none;
  font-size: 0.8rem;
  /* color: rgba(0, 0, 0, 0.5); */
}


/* countries */
.country-card {
  text-align: center;
  /* background-color: #fff; */
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(139, 122, 122, 0.5);
}

.country-card .country-name {
  margin: 0;
  padding: 10px;
}

.country-container {
  /* background-color: #eeeeee; */
}

/* modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;/* Enable scroll if needed */
  background-color:
   rgba(255, 255, 255, 0.8);
}

.modal-dark {
  display: none;
  position: fixed;
  z-index: 99;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color:
  rgba(0, 0, 0, 0.8)
}

.modal-dark h3 {
  color:white;
}

.modal-dark span {
  color:white;
}

#modal-content{
  display: flex;
  width: 87%;
  height: 87%;
  margin: 0 2rem;
}

#modal-content p{
  margin: 0.5rem 0;
}

#modal-image {
  display: block;
  width: 100%;
  height:60%;
  max-width: 500px;
}

@media (max-width: 700px) {
  #modal-content{
    display:block;
  }
}

#modal-country{
  font-size: 2rem;
}

.modal-info-title {
  font-weight: bold;
  color: black;
}

.modal-info {
  font-size: 1.5rem;
}

/* description page */
#modal-image {
  width: 420px;
  height: 300px;
  border-radius: 3px;
}

#border-country-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

#border-country-title {
  font-size: 1.4rem;
}

.border-country {
  padding: 0.5rem 1.5rem;
  background-color: white;
  border-radius: 5%;
  box-shadow: 0px 0px 2px 2px #eeeeee;
  margin-bottom: 3rem;
}

